body {
    background-color: rgb(172, 217, 231);
}

h1 {
    color:rgb(0, 0, 255);
    text-align: center;
}

button {
    background-color: blue;
    border: solid;
    border-color: rgb(0, 0, 0);
    font-size: 2em;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding-right: 5px;
    display: block;
    text-align: center;
    margin: auto;
}

table {
    text-align: center;
}

table, td, th {
    font-weight:bold;
    color:rgb(0, 0, 255) ;
    border-style: solid;
    border-collapse: collapse;
    padding: 10px;
}