/* CSS stylesheet */
header {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}

body {
    background-color: rgb(172, 217, 231);
}

main {
    font-family: Arial, Helvetica, sans-serif;
}

/*Class to not display for narrow screens*/
.narrowscreen {
    display:none;
}

figcaption {
    color:rgb(0, 0, 255);
    font-size: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

/*Style first letter of text paragraphs in main*/
main p:first-letter {
     font-size: 200%;
     font-family:cursive;
}

.hobbyLink {
    border-style: solid;
    border-color:rgb(255, 255, 0);
    background-color: rgb(255, 255, 0);
}

/* Style links */
a:link {
    color: rgb(0, 0, 255);
    text-decoration: none;
}
a:visited {
    color: rgb(221, 23, 23);
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: rgb(0, 139, 139);
}

/* Auto-adjust image sizes with proper aspect ratio */
img {
    object-fit: cover;
    max-width: max-content;
    width: 100%;
    height:auto;
}

/* Auto-adjust video image sizes with proper aspect ratio */
video {
    object-fit: cover;
    width: 100%;
    height: auto;
}

iframe {
    object-fit: contain;
    width: 100%;
    height: 1000px;
}

footer {
    border-style:solid;
    border-color: black;
    padding-left: 20px;
    max-width: 400px;
}

table, td, th {
    font-weight:bold;
    color:rgb(0, 0, 255) ;
    border-style: solid;
    border-collapse: collapse;
    padding: 10px;
}

/* Vertically align text next to logo image in table cell */
table img {
    vertical-align: middle;
    padding: 10px;
}

.buttonStyle {
    background-color:rgb(0, 0, 255);
    border-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin-right: 20px;
    min-height: 40px;
  }

  #juryButton {
    background-color: rgb(255, 0, 0);
    border-color: rgb(0, 0, 0);
    margin-right: 20px;
    min-height: 40px;
  }

  #plaintiffButton {
    background-color:rgb(0, 0, 255);
    border-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin-right: 20px;
    min-height: 40px;
  }

  #softwareButton {
    background-color: rgb(0, 255, 0);
    border-color: rgb(0, 0, 0);
    margin-right: 20px;
    min-height: 40px;
  }

  #clearButton {
    margin-right: 20px;
    min-height: 40px;
  }

  #hobbyNote {
      color: rgb(255, 255, 255);
      background-color: rgb(0, 0, 255);
      display: inline-block;
  }

  img.patent {
    display: block; 
    height:600px; 
    width:420px; 
    margin-left: auto; 
    margin-right: auto; 
    position: fixed; 
    top:100px; 
    right:0px;
  }

/* For narrow screen: change background color, 
reduce font, remove footer, and add link at 
bottom of page to top navigation */
@media only screen and (max-width: 600px) {
    body {
      background-color: transparent;
      font-size:small;
    }

    footer {
        display: none;
    }

    .narrowscreen {
        display: contents;
    }
  }

